<% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |msg| %>
      <div class="alert alert-warning" role="alert">
        <%= msg %>
      </div>
    <% end %>
<% end %>

<div class="row justify-content-center mt-3">
  <div class="card">
    <div class="card-body">
      <%= form_for @article do |f| %>
        <div class="mb-3">
            <%= f.label :title, class: 'form-label' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
              <div class="mb-3">
            <%= f.label :content, class: 'form-label' %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          <%= f.submit class: 'btn btn-lg btn-dark col-12' %>
      <% end %>
    </div>
  </div>
</div>
